build --repository_cache=/tmp/bazel_repo_cache
build --java_runtime_version=remotejdk_11

build --disk_cache=/tmp/bazel_disk_cache
build --repository_cache=/tmp/bazel_repo_cache

common --override_repository=rules_kotlin_for_rules_intellij=/Users/glebkolobkov/Downloads/rules_kotlin_release
common --override_repository=idea_UI_2022_2_3_distr=/Users/glebkolobkov/Develop/tmp/idea_UI_2022_2_3
common --override_repository=idea_UI_2022_2_3_rules_kotlin=/Users/glebkolobkov/Downloads/rules_kotlin-1.7.0-RC-3